@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

* {
    padding: 0%;
    margin: 0px;
    background-color: #101010;
}



.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.container .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: fixed;
    top: 5px;
    transition: 0.3s ease-in-out;
}

.container .navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding: 10px 40px;
}

.container .navbar li {
    
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: white;
}

.container .navbar img {
    width: 45px;
}

