/*Configuração de fontes*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

@font-face {
    font-family: 'Satoshi-Variable';
    src: url('../assets/fonts/Satoshi-Variable.woff2') format('woff2');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('../assets/fonts/Satoshi-VariableItalic.woff2') format('woff2');
         font-weight: 300 900;
         font-display: swap;
         font-style: italic;
  }
  
  @font-face {
    font-family: 'Satoshi-Light';
    src: url('../assets/fonts/Satoshi-Light.woff2') format('woff2');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('../assets/fonts/Satoshi-LightItalic.woff2') format('woff2');
         font-weight: 300;
         font-display: swap;
         font-style: italic;
  }
  
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('../assets/fonts/Satoshi-Regular.woff2') format('woff2');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-Italic';
    src: url('../assets/fonts/Satoshi-Italic.woff2') format('woff2');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  
  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('../assets/fonts/Satoshi-Medium.woff2') format('woff2');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('../assets/fonts/Satoshi-MediumItalic.woff2') format('woff2');
         font-weight: 500;
         font-display: swap;
         font-style: italic;
  }
  
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('../assets/fonts/Satoshi-Bold.woff2') format('woff2');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('../assets/fonts/Satoshi-BoldItalic.woff2') format('woff2');
         font-weight: 700;
         font-display: swap;
         font-style: italic;
  }
  
  @font-face {
    font-family: 'Satoshi-Black';
    src: url('../assets/fonts/Satoshi-Black.woff2') format('woff2');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('../assets/fonts/Satoshi-BlackItalic.woff2') format('woff2');
         font-weight: 900;
         font-display: swap;
         font-style: italic;
  }

/*Manipulando elementos do site*/

* {
    padding: 0%;
    margin: 0px;
    
}

body {
    background-color: #101010;
}