/*Configuração de fontes*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

@font-face {
    font-family: 'Satoshi-Variable';
    src: url('../assets/fonts/Satoshi-Variable.woff2') format('woff2');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('../assets/fonts/Satoshi-VariableItalic.woff2') format('woff2');
         font-weight: 300 900;
         font-display: swap;
         font-style: italic;
  }
  
  @font-face {
    font-family: 'Satoshi-Light';
    src: url('../assets/fonts/Satoshi-Light.woff2') format('woff2');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('../assets/fonts/Satoshi-LightItalic.woff2') format('woff2');
         font-weight: 300;
         font-display: swap;
         font-style: italic;
  }
  
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('../assets/fonts/Satoshi-Regular.woff2') format('woff2');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-Italic';
    src: url('../assets/fonts/Satoshi-Italic.woff2') format('woff2');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  
  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('../assets/fonts/Satoshi-Medium.woff2') format('woff2');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('../assets/fonts/Satoshi-MediumItalic.woff2') format('woff2');
         font-weight: 500;
         font-display: swap;
         font-style: italic;
  }
  
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('../assets/fonts/Satoshi-Bold.woff2') format('woff2');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('../assets/fonts/Satoshi-BoldItalic.woff2') format('woff2');
         font-weight: 700;
         font-display: swap;
         font-style: italic;
  }
  
  @font-face {
    font-family: 'Satoshi-Black';
    src: url('../assets/fonts/Satoshi-Black.woff2') format('woff2');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('../assets/fonts/Satoshi-BlackItalic.woff2') format('woff2');
         font-weight: 900;
         font-display: swap;
         font-style: italic;
  }
  
/*Manipulando elementos do site*/

* {
    padding: 0%;
    margin: 0px;
    
}

body {
    background-color: #101010;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tipo {
    margin-top: 10px;
    width: 300px;
}

.container .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    width: 610px;
    height: 500px;
    background: #801CCF;
    border-radius: 25px;
    font-family: 'Satoshi-Regular';
    font-size: 19px;
    color: #ffffff;
}

.campo {
    display: flex;
    flex-direction: column;
}

.formulario button {
    padding: 8px;
    width: 417px;
    height: 50px;
    background-color: white;
    color: #801CCF;
    font-family: 'Satoshi-Black';
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.formulario p {
    margin-top: 5px;
    text-decoration: underline;
    font-size: 15px;
}

.formulario a {
    text-decoration: none;
    color: white;
}

.formulario a:visited {
    text-decoration: none;
    color: white;
}

input {
    background-color: #801CCF;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 8px;
    width: 400px;
    height: 30px;
}

input::placeholder {
    color: rgb(0, 0, 0);
    opacity: 30%;
}

