html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
body {
    background: url('../assets/images/eye_gif.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }